@model HoroscopeApplication.ViewModels.DateOfBirthViewModel

@{
    ViewData["Title"] = "Home";
    var cnt = 0;
}

<div class="text-center">
    <h1 class="display-4">Welcome to Horoscope Finder</h1>
    <div class="container">
        <p>Enter your Date of Birth to find your horoscope</p>
        <div class="row">
            <div class="col-md-3" style="margin: auto">
                <form id="dateForm" method="post" asp-action="Index" asp-controller="Horoscope"
                      onsubmit="onBtnClick()">

                    <div class="form-group">
                        <input id="datepicker1" type="date" class="form-control" asp-for="Dob" value="">
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button id="btnFindHoroscope" name="btnFindHoroscope" class="btn btn-outline-light"
                                type="submit">
                            Find Horoscope
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div id="divLoader"></div>

        <div id="horoscopeCard" class="card" style="display: none">
            <div class="card-body">
                <h6 id="sunsign"></h6>
            </div>
            <div class="card-body">
                <h6 id="horoscope"></h6>
            </div>
        </div>
    </div>    

    <div class="container">
        <div class="row flex justify-content-center">

            @foreach (var sunsignInfo in Model.SunsignBasicInfos)
            {
                @*<a asp-controller="Horoscope" asp-action="Index" asp-route-sunsign="@sunsignInfo.Key"
                onclick="onCardClick()">*@
                <a onclick="onTestClick('@sunsignInfo.Key')">
                    <div id="signCard" class="card middle text-light">
                        <div class="front">
                            <img src="~/images/sunsigns/@(sunsignInfo.Key).png" alt="">
                            <h5>@(sunsignInfo.Key)</h5>
                        </div>

                        <div class="back">
                            <div class="back-content middle">
                                <h5>@sunsignInfo.Value.DateRange</h5>
                                <p>@sunsignInfo.Value.About</p>
                            </div>
                        </div>
                    </div>
                </a>
                cnt++;
            }
        </div>
    </div>
</div>


@section Scripts{ 
    <script>
        let btnFindHoroscope = document.getElementById("btnFindHoroscope");
       function onBtnClick() {
           var $valid = $("#dateForm").valid();
           if ($valid || $('#')) {
               console.log("Valid");
               $('#divLoader').show(0);
               return true;
           }
           else {
               console.log("Invalid");
               return false;
           }

        }

        function onCardClick() {
            $('#divLoader').show(0);
            return true;
        }


        function onTestClick(sunsign) {
            btnFindHoroscope.classList.add("button--loading");
            btnFindHoroscope.innerHTML = '';

            const xhr = new XMLHttpRequest();
            xhr.open('GET', "/Horoscope/Test?sunsign=" + sunsign, true);
            xhr.onprogress = function () {
                console.log('progress');
            }
            xhr.onload = function () {
                btnFindHoroscope.classList.remove("button--loading");
                btnFindHoroscope.innerHTML = 'Find Horoscope';

                document.getElementById("horoscopeCard").style.display = "block";


                let parsed = JSON.parse(this.responseText);
                console.log("-------------------------parsed----------------------------");
                console.log(parsed);

                let horoscope = parsed.horoscope;

                console.log(horoscope);

                document.getElementById("sunsign").innerText = sunsign;
                document.getElementById("horoscope").innerText = horoscope.description;
            }
            xhr.send();
        }
    </script>
}
